<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <h1>Every user:</h1>
    <h2>Any user you click will be deleted</h2>


    <div th:if="${users.isEmpty()}">

        <p class="no-sets">
            No users available.
        </p>

    </div>


    <div class="item"
         th:each="user : ${users}">

        <form method="post"
              th:action="@{/delete_user/{id}(id=${user.id})}">

            <input th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
                   type="hidden">

            <button class="set-button"
                    type="submit">

                <h3 th:text="${user.login}">
                    username
                </h3>

                <h5 th:text="${user.role}">
                    role
                </h5>

            </button>

        </form>

    </div>


    <button id="returnBtn"
            onclick="window.location.href='/home'">

        Return

    </button>

</div>

</body>
</html>