<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <h1>Available sets:</h1>

    <div th:if="${sets.isEmpty()}">
        <p class="no-sets">
            No quiz sets available.
        </p>
    </div>

    <div class="item"
         th:each="set : ${sets}">

        <form method="post"
              th:action="@{/delete_any_set/{name}(name=${set.name})}">

            <input th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
                   type="hidden">

            <input name="owner"
                   th:value="${set.owner}"
                   type="hidden">


            <h4 th:text="'Owner: ' + ${set.owner}"></h4>
            <h4 th:text="'Name: ' + ${set.name}"></h4>

            <button type="submit">
                Delete
            </button>


        </form>

    </div>

    <button id="returnBtn"
            onclick="window.location.href='/home'">
        Return
    </button>

</div>

</body>
</html>