<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div>

    <h1>
        Hello
        <span th:text="${user.login}"></span>
    </h1>

    <h3>
        Your current role is:
        <span th:text="${user.role}"></span>
    </h3>

    <div class="container">

        <div id="userOptions"
             th:if="${user.role.name() == 'USER'}">
            <label class="label">What do you want to do?</label>
            <br>
            <a href="/new_set">
                <button class="option" id="newSet">Create new set</button>
            </a>
            <a href="/choose_set_to_delete">
                <button class="option" id="deleteSet">Delete set</button>
            </a>
            <a href="/choose_set_to_modify">
                <button class="option" id="modifySet">Modify set</button>
            </a>
            <a href="/choose_set_to_start">
                <button class="option" id="startQuiz">Start quiz</button>
            </a>
        </div>

        <div id="adminOptions"
             th:if="${user.role.name() == 'ADMIN'}">
            <hr>
            <label>Admin options:</label>
            <br>
            <button class="option" id="deleteUser" onclick="window.location.href='/delete_user'">Delete user
            </button>
            <button class="option" id="deleteAnySet" onclick="window.location.href='/delete_any_set'">Delete any set
            </button>
            <button class="option" id="changeRole" onclick="window.location.href='/change_role'">Change role</button>
        </div>


        <hr>

        <p id="anotherAction">Or log out</p><br>

        <a href="http://localhost:8080/">
            <button id="logout">Log out</button>
        </a>
    </div>
</div>

<script src="/script.js"></script>

</body>
</html>