<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div>

    <h1>Log in</h1>


    <div class="container">
        <div class="success-message"
             th:if="${param.signupSuccess}">
            <h3>
                Account created successfully! You can now log in.
            </h3>
            <br>
        </div>


        <form action="/login" method="POST">
            <label class="label">Please insert your login:</label><br>
            <input id="loginInput"
                   name="username"
                   required
                   type="text">

            <br>

            <label class="label">Please insert your password:</label><br>
            <input id="passwordInput"
                   name="password"
                   required
                   type="password">
            <br>

            <input th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
                   type="hidden">

            <button id="loginBtn" type="submit">
                Log In
            </button>
        </form>


        <hr>

        <p id="anotherAction">Or sign up</p><br>

        <a href="/signup">
            <button id="goToSignUp">Sign up</button>
        </a>

    </div>
</div>

<script src="/js/script.js"></script>

</body>
</html>