<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div>

    <h1>Login</h1>


    <div class="container">

        <label class="label">Please insert your login below:</label><br>
        <input type="text" id="loginInput"><br>
        <label class="label">Please insert your password below:</label><br>
        <input type="password" id="passwordInput"><br>
        <button id="loginBtn" onclick="submitData()">Log In</button>
    </div>
</div>

<script src="/script.js"></script>

</body>
</html>