<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div>

    <h1>Log in</h1>


    <div class="container">
        <label class="label">Please insert your login:</label><br>
        <input type="text" id="loginInput"><br>
        <label class="label">Please insert your password:</label><br>
        <input type="password" id="passwordInput"><br>
        <button id="loginBtn" onclick="submitData()">Log In</button>


        <hr>

        <p id="anotherAction">Or sign up</p><br>

        <a href="http://localhost:8080/signup">
            <button id="goToSignUp">Sign up</button>
        </a>
    </div>
</div>

<script src="/script.js"></script>

</body>
</html>