<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Questions</h1>
    <h3>
        Set:
        <span id="setName" th:text="${set.name}"></span>
    </h3>

    <div id="response">Loading...</div>

    <div id="newDivQuestion"></div>

    <button id="newQuestion" onclick="newQuestion()">New question</button>

    <hr>

    <button id="returnButton" onclick="window.location.replace('/home')">Return</button>
    <button id="submitButton" onclick="submitChanges()">Submit</button>

</div>

<script src="/js/script_modify_set.js"></script>
</body>
</html>