<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div>

    <h1>Create new set</h1>


    <div class="container">

        <label class="label">Please insert the name for the set:</label><br>
        <input type="text" id="setNameInput"><br>
        <hr>
        <button id="loginBtn" onclick="createNewSet()">Create</button>
        <a href="/home">
        <button id="returnBtn">Return</button>
        </a>


    </div>
</div>

<script src="/js/script.js"></script>

</body>
</html>