<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div>
    <h1>Create new set</h1>

    <div class="container">

        <form method="post"
              th:action="@{/new_set}"
              th:object="${set}">

            <label class="label">
                Please insert the name for the set:
            </label>

            <br>

            <input th:field="*{name}"
                   type="text">

            <br>

            <div class="text-danger"
                 th:if="${error}"
                 th:text="${error}">
            </div>

            <div class="text-danger"
                 th:errors="*{name}"
                 th:if="${#fields.hasErrors('name')}">
            </div>

            <hr>

            <button id="loginBtn" type="submit">
                Create
            </button>

            <a href="/home">
                <button id="returnBtn" type="button">
                    Return
                </button>
            </a>

        </form>

    </div>
</div>

</body>
</html>