<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Questions</h1>
    <h3>
        Set:
        <span id="setName" th:text="${set.name}"></span>
    </h3>

    <div th:if="${questions.isEmpty()}">
        <p class="no-sets">
            No questions in this set.
        </p>
    </div>

    <form method="post" th:action="@{/submit_answers}" th:object="${set}">

        <div class="question" th:each="question : ${questions}">
            <h3 th:text="${question.question}"></h3>
            <h5 th:text="'Points: ' + ${question.points}"></h5>

            <div class="ABCD"
                 th:if="${question.type.name() == 'ABCD'}">

                <button class="answerButton" data-answer="A" type="button">
                    A
                </button>

                <button class="answerButton" data-answer="B" type="button">
                    B
                </button>

                <button class="answerButton" data-answer="C" type="button">
                    C
                </button>

                <button class="answerButton" data-answer="D" type="button">
                    D
                </button>
            </div>

            <div class="YN"
                 th:if="${question.type.name() == 'YN'}">
                <button class="answerButton" data-answer="YES" type="button">
                    Yes
                </button>

                <button class="answerButton" data-answer="NO" type="button">
                    No
                </button>
            </div>

            <div class="TF"
                 th:if="${question.type.name() == 'TF'}">
                <button class="answerButton" data-answer="TRUE" type="button">
                    True
                </button>

                <button class="answerButton" data-answer="FALSE" type="button">
                    False
                </button>
            </div>

            <div class="DATE"
                 th:if="${question.type.name() == 'DATE'}">

                <div class="dateContainer">

                    <div class="dateInputs">
                        Day
                        <br>
                        <input
                                class="shortInput dayInput"
                                max="31"
                                min="1"
                                type="number"
                        >
                    </div>

                    <div class="dateInputs">
                        Month
                        <br>
                        <input
                                class="shortInput monthInput"
                                max="12"
                                min="1"
                                type="number"
                        >
                    </div>

                    <div class="dateInputs">
                        Year
                        <br>
                        <input
                                class="longerInput yearInput"
                                type="number"
                        >
                    </div>

                </div>
            </div>

            <div class="OPEN"
                 th:if="${question.type.name() == 'OPEN'}">

                <input
                        class="openInput"
                        type="text"
                >
            </div>

        </div>

        <button id="resetBtn" type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>

    <hr>

    <button id="returnButton" onclick="window.location.replace('/home')">Return</button>

</div>
<script>
    document.getElementById('resetBtn').addEventListener('click', () => {
        document.querySelectorAll('.answerButton.selected').forEach(button => {
            button.classList.remove('selected');
        });
    });


    document.querySelectorAll('.question').forEach(question => {

        const buttons = question.querySelectorAll('.answerButton');

        buttons.forEach(button => {
            button.addEventListener('click', () => {

                // Remove selected from all buttons in this question
                buttons.forEach(btn => {
                    btn.classList.remove('selected');
                });

                // Select the clicked button
                button.classList.add('selected');
            });
        });
    });
</script>


</body>
</html>