<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebQuiz</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div>

    <h1>
        Hello
        <span th:text="${username}"></span>
    </h1>


    <div class="container">
        <h3>
            You scored:
            <span id="score" th:text="${score}"></span>
            /
            <span id="out" th:text="${maxPoints}"></span>
        </h3>

        <hr>

        <div th:if="${mistakes}">
            <h3>Questions you got wrong:</h3>

            <div class="question" th:each="question : ${questions}">
                <h3 th:text="${question.question}"></h3>
                <h5 th:text="'Points: ' + ${question.points}"></h5>

                <h4 th:text="'You answered' + ${question.userAnswer} + ', correct answer is: ' + ${question.correctAnswer}"></h4>

            </div>
        </div>

        <button onclick="window.location.href='/home'">Finish</button>

    </div>
</div>


</body>
</html>