<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div>

    <h1>Login</h1>


    <div class="container">
        <label class="label">Please insert your login:</label><br>
        <input type="text" id="loginInput"><br>
        <label class="label">Please insert your password:</label><br>
        <input type="password" id="passwordInput"><br>
        <label class="label">Repeat your password:</label><br>
        <input type="password" id="passwordInputRepeat"><br>
        <button id="loginBtn" onclick="submitNewUser()">Sign up</button>


    </div>
</div>

<script src="/script.js"></script>

</body>
</html>